card-keyword-related {
  > .wrapper-keyword-related {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 40pt);
    padding: 0 20pt 10pt 20pt;
    @include border-top;
    > .header {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: $text-color2;
      padding: 20pt 0;
    }
    > .relate-keyword {
      display: flex;
      position: relative;
      padding: 5pt 20pt;
      margin: 0 10pt 10pt 0;
      border-radius: 25px;
      background-color: $menucolor;
      @include font-size-8-300;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      &:hover {
        color: $text-color3;
      }
    }
    > .wrapper-more-keyword {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30pt;
      > .more-keyword {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        color: $text-color3;
        @include font-size-8-300;
      }
    }
  }
}

@media (max-width: $small) {
  card-keyword-related {
    > .wrapper-keyword-related {
      width: calc(100% - 20pt) !important;
      padding: 0 10pt 10pt 10pt !important;
      > .header {
        padding: 10pt 0 !important;
      }
    }
  }
}
